$color-very-light: #f1f3e0;
$color-light: #d2dcb6;
$color-medium: #a1bc98;
$color-dark: #778873;

:root {
  --color-primary-bg: #f1f3e0;
  --color-secondary-bg: #d2dcb6;
  --color-accent: #a1bc98;
  --color-dark: #778873;

  --color-text-main: #2d342d;

  /* Light mode */
  --body-bg: #lighten($color-very-light, 5%);
  --content-bg: #{$color-light};
  --primary-color: #{darken($color-dark, 40%)};
  --text-color: #2d342d;
  --sidebar-text: #{$color-very-light};
}

$font-main: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-headings: "Georgia", serif;

@mixin button-styles($type: "primary") {
  background-color: var(--sidebar-text);
  color: var(--sidebar-bg);
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--color-accent);
    color: var(--sidebar-bg);
  }

  @if $type == "primary" {
    transform: scale(1.05);
  } @else if $type == "secondary" {
    background: linear-gradient(
      to right,
      var(--color-accent) 50%,
      var(--sidebar-text) 50%
    );
    background-position: right;
    background-size: 200% 100%;
    
    border: 2px solid var(--color-secondary-bg);
    color: var(--text-color);
    &:hover {
      background-position: left;
      color: var(--sidebar-bg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #{darken($color-dark, 40%)};

    --content-bg: #{darken($color-dark, 30%)};

    --primary-color: #{lighten($color-medium, 10%)};
    --color-accent: #{lighten($color-medium, 10%)};

    --text-color: #{$color-very-light};

    --sidebar-bg: #{darken($color-dark, 45%)};
    --sidebar-text: #{$color-light};
  }
}
