@use "partial";
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-main;
}

header {
  padding: 20px;
  text-align: center;
}

header,
footer {
  width: 100%;
  flex-shrink: 0;
  background-color: var(--color-primary-bg);
  color: var(--color-text-main);
}

.layout-wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: var(--color-dark);
  color: var(--sidebar-text);
  flex-shrink: 0;
  text-align: center;

  a {
    text-decoration: none;
    @include button-styles("primary");
    color: var(--text-color);
  }
  .secondary {
    @include button-styles("secondary");
  }
}

main {
  flex-grow: 1;
  padding: 20px;
  --color-secondary-bg: var(--content-bg);
}

#main-content {
  background-color: var(--content-bg);
  color: var(--text-color);
  padding: 20px;
  p {
    margin-top: 15px;
    line-height: 1.6;
    
  }
}

.pictures {
  margin: 20px 0;
  text-align: center;

  img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  h2 {
    font-family: $font-headings;
    margin-bottom: 10px;
    font-size: 20px;
  }

  figcaption {
    @extend %caption-base;
  }

  #papegoja {
    @extend %caption-base;
    font-style: italic;
  }
}

footer {
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .layout-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
